<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroController</servlet-name>
        <servlet-class>Controller.CadastroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WalletDAO</servlet-name>
        <servlet-class>DAO.WalletDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroCursoController</servlet-name>
        <servlet-class>Controller.CadastroCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WalletController</servlet-name>
        <servlet-class>Controller.WalletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseController</servlet-name>
        <servlet-class>Controller.CourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoController</servlet-name>
        <servlet-class>Controller.VideoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCourseController</servlet-name>
        <servlet-class>Controller.MyCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MinhaContaController</servlet-name>
        <servlet-class>Controller.MinhaContaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionController</servlet-name>
        <servlet-class>Controller.TransactionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroController</servlet-name>
        <url-pattern>/CadastroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WalletDAO</servlet-name>
        <url-pattern>/WalletDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroCursoController</servlet-name>
        <url-pattern>/CadastroCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WalletController</servlet-name>
        <url-pattern>/WalletController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseController</servlet-name>
        <url-pattern>/CourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoController</servlet-name>
        <url-pattern>/VideoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCourseController</servlet-name>
        <url-pattern>/MyCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MinhaContaController</servlet-name>
        <url-pattern>/MinhaContaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionController</servlet-name>
        <url-pattern>/TransactionController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
